@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

body {
    margin: 0;
    font-family: 'Poppins';
    overflow: hidden;
}

body * {
    box-sizing: border-box;
}

.main-login {
    width: 100vw;
    height: 100vh;
    background: #098ec7;
    display:flex;
    justify-content: center;
    align-items: center;
}

.left-login {
    width: 50vw;
    height: 90vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.left-login > h1 {
    color: #00ff88
}

.left-login-image {
    width:30vw;
}

.right-login {
    width: 50vw;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.card-login {
    width: 60%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #179FD9;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-login > h1 {
    color: #00ff88;
    font-weight: 000;
    margin: 0;
}

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input{
    width:100%;
    border:none;
    border-radius: 10px;
    padding: 15px;
    background: #ffffff;
    color: #110f0fde; 
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield > input::placeholder{
    color:#8f9191de
}

.textfield > label {
    color: #f0ffffde;
    margin-bottom: 10px;
}

.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #ffffff;
    background: #49b451;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

@media only screen and (max-width: 950px){
    .card-login{
        width: 85%;
    }
}
@media only screen and (max-width: 600px){
    .main-login{
        flex-direction: column;
    }
    .left-login > h1{
        display:none;
    }
    .left-login{
        width: 100%;
        height: auto;
    }
    .right-login{
        width: 100%;
        height: auto;
    }
    .left-login-image{
        width: 50vw;
    }
    .card-login{
        width: 90%;
    }
}
